.home {
  display: flex;
}

.dashboard {
  text-align: center;
  left: 0;
  top: 0;
  width: 250px;
  background-color: white;
  height: 100vh;
  position: fixed;
  margin-right: 100px;
}

.dashboard a {
  display: block;
  width: 250px;
  font-weight: 700;
  text-decoration: none;
  font-size: xx-large;
  color: green;
}

.dashboard a:hover {
  background-color: green;
  color: white;
}

.main {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.product {
  color: green;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.product div {
  margin: auto;
}

.product img {
  width: 100px;
  height: 100px;
}

.summary {
  width: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
}

.stats {
  color: green;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 175px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  align-self: center;
  width: 100%;
}

.filter-content {
  margin: auto;
}

.search input {
  border: 2px solid green;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  outline: none;
}

.search input:not(:focus) {
  border: 1px solid;
}

.search_btn button {
  border: none;
  font-weight: 500;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.search_btn button:hover {
  transform: scale(1.05) translateY(5px);
  transition: transform 0.5s ease;
}

.placeholder h1 {
  text-align: center;
  color: green;
}

body {
  background-color: rgb(214, 253, 226);
}


